fastapi
uvicorn
requests
itsdangerous
qdrant-client
sqlalchemy
pymysql
pydantic
cryptography
faster-whisper
python-multipart
langchain
langchain-community
langchain-openai
langchain-qdrant
pymupdf
pdfplumber